abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video, a { margin: 0px; padding: 0px; font-family: Inter, sans-serif; font-size: 14px; color: rgb(20, 20, 20); line-height: normal; font-weight: 300; text-align: left; scrollbar-width: thin; scrollbar-color: rgb(255, 255, 255) rgb(12, 12, 12); }
p { font-size: 16px; font-weight: 300; line-height: 28.8px; color: rgb(78, 78, 78); }
img { max-width: 100%; }
ul::after { content: ""; display: block; clear: both; }
ul, li { margin: 0px; padding: 0px; list-style: none; }
a { text-decoration: none; }
.wrap { max-width: 1292px; display: block; margin: 0px auto; width: 95%; }
@font-face { font-family: timesbold_italic; src: url("../font/times_new_roman_bold_italic-webfont.woff2") format("woff2"), url("../font/times_new_roman_bold_italic-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
.clear { clear: both; }
.custom-cursor { width: 30px; height: 30px; position: absolute; background: url("images/corsur.png") center center / contain no-repeat; pointer-events: none; transition: transform 0.2s; z-index: 999; }
body, html { margin: 0px; background-color: rgb(248, 248, 248);  }
.lft { float: left; }
.rgt { float: right; }
.btn { padding: 12px 16px; background-color: rgb(0, 0, 0); border-radius: 12px; }
header { display: block; background-color: rgb(255, 255, 255); position: fixed; top: 0px; padding: 12px; width: 100%; z-index: 999; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px; }
header .lft { display: block; width: 20%; }
header .lft img { display: block; }
header .rgt { display: block; width: 47%; }
header .rgt ul { display: flex; align-items: center; }
header .rgt ul li { display: block; float: left; margin-right: 5%; }
header .rgt ul li:last-child { margin-right: 0px; }
header .rgt ul li a { display: block; transition: 0.3s; font-size: 17px; font-weight: 300; }
header .rgt ul li a::after { content: ""; display: block; width: 0px; height: 1px; background: rgb(255, 0, 0); transition: 0.3s; }
header .rgt ul li a:hover::after { width: 100%; transition: 0.3s; }
header .rgt ul li a.btn { display: block; color: rgb(255, 255, 255); font-weight: 300; }
header .rgt ul li a.btn:hover { color: rgb(255, 255, 255); }
header .rgt ul li a:hover { color: rgb(195, 28, 28); }
.bnr ul li .textpnl a.btn:hover { background-color: rgb(195, 28, 28); }
.bnr ul li .textpnl a.btn { display: block; width: fit-content; }
.bnr { display: block; margin-bottom: 100px; }
.bnr ul { display: block; }
.bnr ul li { display: block; }
.bnr ul li .textpnl { display: block; padding-top: 276px; padding-bottom: 196px; }
.bnr ul li h1 { font-size: 83px; font-weight: 800; color: rgb(255, 255, 255); margin-bottom: 20px; }
ul.icn { display: block; position: fixed; top: 50%; margin-top: -49px; right: 0px; z-index: 99999; }
ul.icn li { display: block; }
ul.icn li a { display: block; }
ul.icn li a img { display: block; }
.bnr { position: relative; width: 100%; height: 100vh; overflow: hidden; }
.banner { position: relative; width: 100%; height: 100%; }
.banner video { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
.banner-text { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgb(255, 255, 255); text-align: center; z-index: 1; background-color: rgba(0, 0, 0, 0.72); padding: 40px 29px; width: 50%; }
.banner-text h1 { font-size: 49px; margin: 0px; font-weight: 900; color: rgb(255, 255, 255); text-align: center; }
.banner-text p { font-size: 15px; margin: 1% 0px 3%; color: rgba(255, 255, 255, 0.77); text-align: center; }
.abt { display: block; margin-bottom: 100px; }
.abt span { font-family: timesbold_italic; font-size: 16px; }
.abt h3 { font-size: 40px; line-height: 57px; font-weight: 400; margin-top: 16px; margin-bottom: 5%; transition: color 1s; color: rgb(242, 242, 242); }
.abt .rgt p span.experience-num { font-size: 63px; font-weight: 800; font-family: Inter, sans-serif; color: rgb(255, 0, 0); }
.abt h3.in-view { color: rgb(25, 25, 25); }
.abt .lft { display: block; width: 30%; }
.abt .lft span { display: block; }
.abt .lft ul li span { display: inline-block; }
.abt .lft ul li p { display: inline; margin-left: 2px; }
.abt .lft ul li { display: block; margin-bottom: 0px; }
.abt .rgt { display: block; width: 64%; margin-top: -2%; }
.abt .lft ul { margin-top: 1%; }
.abt .rgt a { display: flex; font-size: 24px; font-weight: 400; margin-top: 3%; align-items: center; }
.abt .rgt a::after { content: ""; background: url("../images/arrw.png") center center no-repeat; display: inline-block; width: 50px; height: 50px; border-radius: 50%; border: 1px solid rgb(37, 37, 37); margin-left: 12px; }
.project { display: block; margin-bottom: 100px; background-color: rgb(242, 242, 242); padding-top: 100px; padding-bottom: 100px; }
.heading h2 { color: rgb(34, 34, 34); font-size: 67px; font-weight: 800; text-align: center; margin-bottom: 12px; }
.heading h4 { color: rgb(68, 68, 68); font-size: 20px; font-weight: 400; text-align: center; }
.project ul { display: block; margin-top: 5%; }
.project ul li { display: block; width: 31.6%; margin-right: 2.6%; float: left; margin-bottom: 2.6%; }

.project ul li ul.inside{display:block;margin-top: 2%;padding: 0px;}
.project ul li ul.inside li{display:block;padding: 12px 12px;background-color: #f8f8f8;color: #000000;width: max-content;margin-right: 7px;border-radius: 8px;font-size: 13px;font-weight: 600;border: 1px dashed #808080;transition: 0.3s ease;margin-bottom: 12px;}
.project ul li ul.inside li:hover{background-color:#ff0000;color:#fff;border:1px dashed #ff0000;transition:0.3s ease;}
.project ul li ul.inside li:last-child{margin-right:0px;}

.project ul li:nth-child(3n+3) { margin-right: 0px; }
.project ul li a { display: block; }
.project ul li a .imgpnl { margin-bottom: 4%; display: block; }
.project ul li a .imgpnl img { display: block; border-radius: 14px; transition: 2s; }
.project ul li a .imgpnl img:hover { transform: scale(1.1); transition: 2s; }
.project ul li a h2 { display: block; font-size: 20px; font-weight: 700; margin-bottom: 4px; }
.project ul li a h4 { display: inline-block; background-color: rgb(10, 10, 10); padding: 11px 12px; color: rgb(255, 255, 255); border-radius: 10px; margin-left: 6px; font-size: 12px; }
.project ul li a h5 { display: block; font-size: 16px; font-weight: 400; color: rgb(8, 8, 8); text-decoration: underline; }
.project ul li a p { display: block; color: rgb(8, 8, 8); line-height: 22px; margin-bottom: 6px; }
.project a { color: rgb(64, 64, 64); font-size: 17px; font-weight: 400; text-align: center; display: block; }
.skill { display: block; margin-bottom: 100px; }
.skill .heading h2 { text-align: left; }
.skill .heading h4 { text-align: left; }


.skill ul { display: block; margin-top: 2%; padding:0;}
.skill ul li {
    opacity: 0;
    position: relative;
    animation: bounce-in 4s ease-out infinite;
    animation-iteration-count: infinite; /
    display: block;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    border: 1px dashed rgb(189, 189, 189);
    float: left;
    margin-right: 1%;
    font-size: 16px;
    margin-bottom: 1%;
    transition: 0.3s ease;
    font-weight: 500;
    }
.skill ul li:hover { background-color: rgb(255, 0, 0); color: rgb(255, 255, 255); border: 1px dashed rgb(255, 255, 255); }
.skill ul li {
    
}

.skill ul li:nth-child(1) {
    animation-delay: 0s;
}

.skill ul li:nth-child(2) {
    animation-delay: 0.2s;
}

.skill ul li:nth-child(3) {
    animation-delay: 0.4s;
}

.skill ul li:nth-child(4) {
    animation-delay: 0.6s;
}

.skill ul li:nth-child(5) {
    animation-delay: 0.8s;
}

.skill ul li:nth-child(6) {
    animation-delay: 1s;
}

.skill ul li:nth-child(7) {
    animation-delay: 1.2s;
}

.skill ul li:nth-child(8) {
    animation-delay: 1.4s;
}

/* Keyframe for bounce-in animation */
@keyframes bounce-in {
    0% {
        opacity: 0;
        top: -50px; /* Start above the initial position */
    }
    50% {
        opacity: 1;
        top: 10px; /* Move past the final position for bounce effect */
    }
    100% {
        top: 0; /* Final resting position */
    }
}



.study { display: block; margin-bottom: 100px; background-color: rgb(242, 242, 242); padding-top: 100px; padding-bottom: 100px; }
.study ul { display: block; margin-top: 2%; }
.study ul li { display: block; padding-top: 33px; padding-bottom: 33px; border-bottom: 1px dashed rgb(139, 139, 139); transition: 2s; }
.study ul li h2 { display: block; font-size: 34px; font-weight: 900; margin-bottom: 1%; color: rgb(34, 34, 34); }
.study ul li p { display: block; font-size: 34px; font-weight: 500; }
.study ul li:hover h2 { color: rgb(255, 0, 0); transition: 0.3s; }
.study ul li:last-child { border-bottom: 0px; }
.study ul li:hover { display: block; border-bottom: 1px dashed rgb(255, 0, 0); transform: scale(1.1); transition: 2s; }
.cont { display: block; margin-bottom: 100px; }
.cont span { display: block; font-family: timesbold_italic; font-size: 16px; }
.cont h3 { display: block; line-height: 58px; font-weight: 500; font-size: 40px; margin-top: 1%; }
.cont .line { display: block; border: 1px solid rgb(17, 17, 17); margin-top: 5%; margin-bottom: 5%; }
.cont ul li { display: block; float: left; margin-right: 7%; }
.cont ul li a span { display: block; font-size: 16px; font-family: inherit; line-height: 2.3em; }
.cont ul li a { display: block; font-size: 17px; font-weight: 400; }
footer { display: block; background-color: rgb(18, 18, 18); }
footer h3 { display: block; font-size: 253px; font-weight: 900; color: rgb(255, 255, 255); }
.moving-text { width: 100%; white-space: nowrap; overflow: hidden; position: relative; }
.moving-text h3 { top: 0px; left: 0px; animation: 10s linear 0s infinite normal none running marquee; }
@keyframes marquee { 
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
@media (max-width: 1313px) {
  header .rgt { width: 48%; }
}
@media (max-width: 1285px) {
  header .rgt { width: 50%; }
}
@media (max-width: 1233px) {
  header .rgt { width: 52%; }
}
@media (max-width: 1186px) {
  header .rgt { width: 56%; }
}
@media (max-width: 1142px) {
  .banner-text h1 { font-size: 43px; }
  header .rgt { width: 55%; }
}
@media (max-width: 1136px) {
  .study ul li:hover { display: block; border-bottom: 1px dashed rgb(255, 0, 0); transform: scale(1); transition: 2s; }
}
@media (max-width: 1121px) {
  header .rgt nav ul { display: none; }
  header .rgt nav.active ul { display: block; }
  header .rgt nav.active { display: block; position: absolute; background: rgb(255, 255, 255); width: -webkit-fill-available; left: 0px; top: 90px; z-index: 9999; padding: 20px; box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 8px; }
  header .rgt nav ul li { display: block; float: none; margin-bottom: 2%; border-bottom: 1px dashed rgb(174, 174, 174); padding-bottom: 2%; }
  header .rgt nav ul li:last-child { border-bottom: 0px; margin-bottom: 0px; }
  header .rgt ul li a.btn { width: fit-content; }
  .Hamburger { display: block; cursor: pointer; height: 22px; float: right; margin-top: 15px; }
  .Hamburger.active { display: block; }
  .Hamburger.active span .line.top { display: block; transform: rotate(50deg); top: 8px; }
  .Hamburger.active span .line { display: none; }
  .Hamburger.active span .line.bottom { transform: rotate(-50deg); margin-top: 0px; bottom: 13px; }
  .Hamburger span { display: block; width: 30px; position: relative; height: 22px; padding: 1px; }
  .Hamburger span .line { display: block; width: 100%; height: 2px; background: rgb(0, 0, 0); margin-top: 10px; transition: 0.3s; }
  .Hamburger span .line.bottom { display: block; position: absolute; bottom: 0px; margin: 0px; }
  .Hamburger span .line.top { display: block; position: absolute; top: 0px; margin: 0px; }
}
@media (max-width: 1121px) {
  .banner-text h1 { font-size: 38px; }
}
@media (max-width: 1027px) {
  .abt .lft { width: 100%; margin-bottom: 2%; }
  .abt .rgt { width: 100%; }
  .abt h3 { font-size: 30px; line-height: 44px; margin-bottom: 2%; }
}
@media (max-width: 884px) {
  .banner-text h1 { font-size: 30px; }
  .banner-text { width: max-content; }
}
@media (max-width: 832px) {
  .project ul li { width: 48%; }
  .project ul li:nth-child(2n+2) { margin-right: 0px; }
  .project ul li:nth-child(3n+3) { margin-right: 2.6%; }
  .project ul li.waste { margin-right: 0px; }
  footer h3 { font-size: 153px; }
}
@media (max-width: 809px) {
  .Hamburger { margin-top: 9px; }
}
@media (max-width: 752px) {
  .project ul li a h2 { font-size: 17px; }
  .project ul li a p {font-size: 15px;}
  .project ul li a h5 { font-size: 15px; }
  .project { padding-top: 50px; padding-bottom: 50px; }
  .study { padding-top: 50px; padding-bottom: 50px; }
}
@media (max-width: 664px) {
  .heading h2 { font-size: 47px; margin-bottom: 5px; }
  .heading h4 { font-size: 17px; }
}
@media (max-width: 660px) {
  .Hamburger { margin-top: 5px; }
  header .rgt { width: 11%; margin-right: 16px; }
}
@media (max-width: 611px) {
  header .lft { width: max-content; }
  .skill ul li { margin-bottom: 2.5%; margin-right: 2.5%; }
}
@media (max-width: 598px) {
  .Hamburger { margin-top: 12px; }
}
@media (max-width: 594px) {
  .abt h3 { font-size: 22px; line-height: 37px; }
  p { font-size: 15px; }
  .abt .rgt p span.experience-num { font-size: 46px; }
  .abt .rgt a { font-size: 16px; }
  .abt .rgt a::after { width: 36px; height: 36px; }
  .study ul li p { font-size: 25px; }
  .bnr { margin-bottom: 70px; }
  .abt { margin-bottom: 70px; }
  .project { margin-bottom: 70px; }
  .skill { margin-bottom: 70px; }
  .study { margin-bottom: 70px; }
  .cont { margin-bottom: 70px; }
  footer h3 { font-size: 113px; }
}
@media (max-width: 498px) {
  .project ul li { width: 100%; margin-bottom: 5%; }
}
@media (max-width: 442px) {
  .skill ul { margin-top: 6%; }
  .heading h2 { font-size: 38px; }
  .heading h2 { font-size: 38px; }
  .study ul li h2 { font-size: 27px; }
  .study ul li p { font-size: 21px; }
  .abt .rgt a::after { display: none; }
  .abt h3 { font-size: 19px; line-height: 34px; text-align: justify; }
}
@media (max-width: 394px) {
  .banner-text h1 { font-size: 26px; }
  .heading h4 { font-size: 15px; }
  .project ul { margin-top: 9%; }
  .heading h2 { font-size: 31px; }
  .study ul li p { font-size: 17px; }
  .abt h3 { font-size: 17px; line-height: 29px; }
  footer h3 { font-size: 80px; }
  .cont h3 { line-height: 37px; font-size: 27px; }
}
@media (max-width: 348px) {
  .banner-text h1 { font-size: 24px; }
}
